/********************* COMMON **********************/
body {
	font-family: sans-serif;
	background-image: url("/img/background.png");
}

.box {
	height: calc(100vh - 4rem);
	margin-top: 2rem;
}

.box-left-top,
.box-right-top {
	background-color: #eaeaea;
	height: 5rem;
}

.user-img {
	height: 4rem;
}

.circled-box {
	height: 4rem;
	width: 4rem;
}

.bell-icon-container,
.user-message-box {
	background-color: white;
}

.little-hours {
	font-size: 0.7rem;
}

.little-text {
	font-size: 0.9rem;
}

/********************* BOX LEFT *********************/
.box-left-bottom ul {
	height: calc(100vh - 19rem);
	background-color: white;
}

.notification-box {
	background-color: #8edafc;
}

.notification-box:hover {
	cursor: pointer;
}

.fa-bell-slash,
.fa-bell {
	color: #8edafc;
}

.search-box {
	background-color: white;
	height: 4rem;
}

li:hover {
	background-color: lightgray;
	cursor: pointer;
}

.activeClick {
	background-color: lightgray;
}

/********************* BOX RIGHT *********************/
.box-right-main {
	background-image: url(/img/mine.jpg);
	background-color: #e5ddd5;
	height: calc(100vh - 14rem);
}

.box-right-footer {
	background-color: #f3eeea;
	height: 5rem;
}

.my-message-box {
	background-color: #d5f9ba;
}
