/********************* COMMON **********************/
body {
	font-family: sans-serif;
	background-image: url("/img/background.png");
}

.deb {
	border: 2px dashed blue;
}

.box {
	height: calc(100vh - 4rem);
	margin-top: 2rem;
}
.right-bottom-main {
	background-image: url(/img/mine.jpg);
}

.box-left-top,
.box-right-top {
	background-color: #eaeaea;
	height: 5rem;
}

.user-img {
	height: 4rem;
}

.circled-box {
	height: 4rem;
	width: 4rem;
}

.notification-box {
	background-color: #8edafc;
}

.fa-bell-slash {
	color: #8edafc;
}

.bell-icon-container {
	background-color: white;
}

.search-box {
	background-color: white;
	height: 4rem;
}

ul {
	height: calc(100vh - 19rem);
}

.right-bottom-main {
	background-color: #e5ddd5;
	height: calc(100vh - 14rem);
}

.right-bottom-footer {
	background-color: #f3eeea;
	height: 5rem;
}

.my-message-box {
	background-color: #d5f9ba;
}
.user-message-box {
	background-color: white;
}

.hours {
	font-size: 0.8rem;
}
