/********************* COMMON **********************/
body {
	font-family: sans-serif;
	background-image: url("/img/background.png");
}

.deb {
	border: 2px dashed blue;
}

.box {
	height: calc(100vh - 4rem);
	margin-top: 2rem;
}
.box-left {
}

.box-left-top,
.box-right-top {
	background-color: #eaeaea;
	height: 5rem;
}

.user-img {
	height: 4rem;
}

.circled-box {
	height: 4rem;
	width: 4rem;
}

.notification-box {
	background-color: #8edafc;
}
.fa-bell-slash {
	color: #8edafc;
}

.bell-icon-container {
	background-color: white;
}
